<div class="bg-gray-50 h-4/5 flex justify-center items-center w-full">
    <div class="w-4/6">
        <form id="searchArea" class="flex flex-col bg-gray-200 items-center">
            <mat-form-field>
                <input matNativeControl type="text" placeholder="Search summoner..." id="searchField">
            </mat-form-field>
           
            <button mat-raised-button color="primary" id="search" class="w-2/6"> 
                <mat-icon aria-hidden="true" aria-label="Search" fontIcon="search"></mat-icon> 
                Search 
            </button>
        </form>
    </div>
</div>