<mat-card class="flex items-center">
    
    <mat-card-title>
        <div class="text-sm">
            {{data.summonerName}} 
        </div>
    </mat-card-title>



    <mat-card-content> 
        <div>
            <div class="flex flex-col items-center">
                <img src={{data.icon}} class="w-16 h-16 " />
                <p>
                    {{data.championName}} 
                </p>
            </div>
            <div> <!-- Win rate -->

            </div>
        </div>
        <hr class="pb-1 pt-1"/>
        <div class="flex flex-row space-x-4 items-center justify-center">
            <div class="w-10 h-10"><img src={{data.spell1Id}} /></div>
            <div class="w-10 h-10"><img src={{data.spell2Id}} /></div>
        </div>
        <hr class="mt-2"/>
        <div>
            <div class="w-20 h-20">
                <img src="../../../assets/img/Rank={{data.tier}}.png" />
            </div>
            <div>
                {{data.tier}}
                {{data.rank}}   
                <br/>
                <label> LP: {{data.leaguePoints}}</label>
            </div>
        </div>
        <div>

        </div>
    </mat-card-content>          

</mat-card>